In [ ]:
pip install kafka-python

In [ ]:
pip install git+https://github.com/dpkp/kafka-python.git

In [3]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [ ]:
producer = KafkaProducer(
    bootstrap_servers=['18.116.69.77:9092'],
    value_serializer=lambda x:
    dumps(x).encode('utf-8')
)

In [31]:
producer.send('kafka', value="{'name1':'asdasd'}")

In [20]:
df = pd.read_csv("data/indexProcessed.csv")

In [21]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [22]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
8510,NYA,1966-01-26,537.570007,537.570007,537.570007,537.570007,537.570007,0.0,537.570007

In [24]:
df.sample(1).to_dict(orient='records')[0]

{'Index': 'IXIC',
 'Date': '2005-05-18',
 'Open': 2008.630005,
 'High': 2034.300049,
 'Low': 2007.199951,
 'Close': 2030.650024,
 'Adj Close': 2030.650024,
 'Volume': 1957880000.0,
 'CloseUSD': 2030.650024}

In [ ]:
while True:
    dict_stock= df.sample(1).to_dict(orient='records')[0]
    producer.send('kafka', value = dict_stock)
    sleep(1)

In [37]:
producer.flush()