In [4]:
pip install kafka-python

Requirement already satisfied: kafka-python in /opt/homebrew/Cellar/jupyterlab/4.1.0/libexec/lib/python3.12/site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install git+https://github.com/dpkp/kafka-python.git

Collecting git+https://github.com/dpkp/kafka-python.git
  Cloning https://github.com/dpkp/kafka-python.git to /private/var/folders/zw/flhr0_m90vj8b4y3bw_1fftr0000gn/T/pip-req-build-4kktjtkc
  Running command git clone --filter=blob:none --quiet https://github.com/dpkp/kafka-python.git /private/var/folders/zw/flhr0_m90vj8b4y3bw_1fftr0000gn/T/pip-req-build-4kktjtkc
  Resolved https://github.com/dpkp/kafka-python.git to commit b68f61d49556377bf111bebb82f8f2bd360cc6f7
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: kafka-python
  Building wheel for kafka-python (setup.py) ... done
  Created wheel for kafka-python: filename=kafka_python-2.0.3.dev0-py2.py3-none-any.whl size=249129 sha256=fc9da6eb04444fbe4df0f96b07e6bd22c802a450f2a00fa6ca6cee730661c330
  Stored in directory: /private/var/folders/zw/flhr0_m90vj8b4y3bw_1fftr0000gn/T/pip-ephem-wheel-cache-kc18tbzk/wheels/52/77/9a/479e1f50d20caabf6268f6371428f779f674c40595b0555ac9
Successfully built kafka-python
Installing collected packages: kafka-python
  Attempting uninstall: kafka-python
    Found existing installation: kafka-python 2.0.2
    Uninstalling kafka-python-2.0.2:
      Successfully uninstalled kafka-python-2.0.2
Successfully installed kafka-python-2.0.3.dev0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [4]:
producer = KafkaProducer(
    bootstrap_servers=['18.116.69.77:9092'],
    value_serializer=lambda x:
    dumps(x).encode('utf-8')
)

In [31]:
producer.send('kafka', value="{'name1':'asdasd'}")

In [20]:
df = pd.read_csv("data/indexProcessed.csv")

In [21]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [22]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
8510,NYA,1966-01-26,537.570007,537.570007,537.570007,537.570007,537.570007,0.0,537.570007

In [24]:
df.sample(1).to_dict(orient='records')[0]

{'Index': 'IXIC',
 'Date': '2005-05-18',
 'Open': 2008.630005,
 'High': 2034.300049,
 'Low': 2007.199951,
 'Close': 2030.650024,
 'Adj Close': 2030.650024,
 'Volume': 1957880000.0,
 'CloseUSD': 2030.650024}

In [35]:
while True:
    dict_stock= df.sample(1).to_dict(orient='records')[0]
    producer.send('kafka', value = dict_stock)
    time.sleep(1)

KeyboardInterrupt:

In [32]:
producer.flush()